<footer class="footer">
    <div class="footer__inner">
        <div class="copyright">
        <span>© {{ now.Year }} <a href="https://github.com/intergrav" target="_blank">intergrav</a></span>
        <div class="copyright">
        <span>Not approved by or associated with Mojang or Microsoft.</span>
        </div>
    </div>
  </footer>
  
  {{ $menu := resources.Get "js/menu.js" | js.Build }}
  {{ $prism := resources.Get "js/prism.js" | js.Build }}
  
  {{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}
  
  <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
  
  <!-- Extended footer section-->
  {{ partial "extended_footer.html" . }}
  
